.anti-corruption__wrap .section-title {
  margin-bottom: 1em;
}

.center-item {
  display: -ms-grid;
  display: grid;
  border-radius: 32px;
  padding: 32px;
  background: var(--bl-10, #f6f6f6);
  gap: 32px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .center-item {
    -ms-grid-columns: 1fr var(--img-w, 214px);
    grid-template-columns: 1fr var(--img-w, 214px);
  }
}
.center-item__title {
  font-size: 24px;
  margin-bottom: 1em;
}
.center-item p {
  font-size: 14px;
  max-width: 890px;
}
.center-item__img-wrap {
  width: 100%;
  height: var(--img-h, 214px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .center-item__img-wrap {
    width: var(--img-w, 214px);
  }
}
.center-item__img-wrap img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 100%;
  height: auto;
}

.hero--page {
  color: #fff;
}
.hero--page::before,
.hero--page::after {
  display: none;
}
.hero--page .container-head {
  position: relative;
}
.hero--page .container-head:before {
  content: '' !important;
  position: absolute;
  bottom: -400px;
  left: 100%;
  z-index: -1;
  width: 402px;
  height: 666px;
  background-image: url('../assets/img/index/decore-right.png');
  background-repeat: no-repeat;
}
.hero--page .container-head:after {
  content: '' !important;
  position: absolute;
  top: -200px;
  right: 100%;
  z-index: -1;
  width: 394px;
  height: 707px;
  background-image: url('../assets/img/index/decore-left.png');
  background-repeat: no-repeat;
}
.hero--page h1 {
  color: #fff;
  margin-bottom: 1em;
}
.hero--page .breadcrumbs__link {
  --primary-color: #daef14;
}
.hero--page .breadcrumbs-wrapper {
  padding-top: 0;
  padding-bottom: 40px !important;
}
.hero--page .breadcrumbs__item:not(:last-child)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='8' viewBox='0 0 9 8' fill='none'%3E%3Cpath d='M0 4H8M8 4L4.21053 0.5M8 4L4.21053 7.5' stroke='%23DAEF14'/%3E%3Cdeepl-alert xmlns=''/%3E%3Cdeepl-alert xmlns=''/%3E%3Cdeepl-alert xmlns=''/%3E%3C/svg%3E");
}
.hero--page .breadcrumbs__link.active {
  color: #fff;
}
.hero--page .slider {
  position: relative;
  padding-bottom: 60px;
}

.link-back {
  color: #daef14;
  display: inline-block;
  margin-bottom: 40px;
}
.link-back:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 9 9' fill='none'%3E%3Cpath d='M1.40002 4.69998L8.60002 4.69998M1.40002 4.69998L4.80002 1.09998M1.40002 4.69998L4.80002 8.29998' stroke='%23DAEF14' stroke-width='2'/%3E%3C/svg%3E");
  display: inline-block;
  position: relative;
}

.center-item--page {
  color: #fff;
  padding: 0;
  background: none;
  --img-w: 306px;
  --img-h: 256px;
}
.center-item--page .center-item__img-wrap {
  -webkit-box-shadow: 0px 41px 57px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 41px 57px 0px rgba(0, 0, 0, 0.25);
}
.center-item--page p {
  font-size: 24px;
  margin-bottom: 1em;
}
.center-item--page .socials {
  position: static;
}
.center-item--page .socials__link {
  width: auto;
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.socials__link-icon-wrap {
  width: 24px;
  height: 24px;
}

.socials__link-text {
  color: var(--secondary-color);
  margin-left: 8px;
  font-size: 16px;
}

.sPromgrams {
  padding-top: 72px;
  padding-bottom: 72px;
}
.sPromgrams h2 {
  color: var(--bl-100, #252525);
  font-size: 40px;
  margin-bottom: 1em;
  font-weight: 400;
}
.sPromgrams ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
.sPromgrams ul a {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 24px;
  color: var(--primary-color);
  border-top: 1px solid var(--Light_grey, #dcdcdc);
  border-bottom: 1px solid var(--Light_grey, #dcdcdc);
  margin-bottom: -1px;
}
.sPromgrams ul a:hover {
  color: var(--primary-hover-color);
}
.sPromgrams ul a .link-text {
  max-width: 940px;
}

.gal-slider {
  overflow: visible;
}
.gal-slider__slide {
  /* width: 304px; */
  width: calc((100% / 1));
  @media screen and (min-width: 450px) {
    width: calc((100% / 2) - 24px);
  }
  @media screen and (min-width: 768px) {
    width: calc((100% / 3) - 24px);
  }
  @media screen and (min-width: 998px) {
    width: calc((100% / 4) - 24px);
  }
}
.gal-slider__img-wrap {
  aspect-ratio: 1;
  display: block;
  outline: none;
}
.gal-slider__img-wrap img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  -webkit-box-shadow: 0px 24px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 24px 20px 0px rgba(0, 0, 0, 0.25);
}

.swiper-pagination {
  @media screen and (max-width: 576px) {
    --swiper-pagination-bullet-horizontal-gap: 6px;
    width: 8px;
    height: 8px;
  }
}
.slider .swiper-pagination-bullet {
  @media screen and (max-width: 576px) {
    width: 12px;
    height: 12px;
  }
}

.m-0 {
  margin: 0;
}
