.directions-detail {
  padding-bottom: 30px;
}
.directions-detail .back-page {
  display: none;
}
.directions-detail__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: var(--primary-color);
  margin-top: 14px;
  margin-bottom: 25px;
  max-width: 100px;
}
.directions-detail__title span {
  display: block;
}
.directions-detail__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 32px;
  min-height: 256px;
  padding: 36px 53px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 290px 135px;
  margin-bottom: 24px;
}
.directions-detail__icon {
  width: 183px;
  height: 31px;
}
.directions-detail__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.directions-detail__text-left p {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: var(--black-color);
}
.directions-detail__text-left p:not(:last-child) {
  margin-bottom: 16px;
}
.directions-detail__text-right {
  padding: 24px 24px;
  background-color: #F7F7F7;
  border-radius: 32px;
  margin-bottom: 17px;
}
.directions-detail__text-right span {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--black-color);
  display: block;
  margin-bottom: 16px;
}
.directions-detail__text-right p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .directions-detail {
    padding-bottom: 75px;
  }
  .directions-detail .back-page {
    display: none;
  }
  .directions-detail__title {
    margin-bottom: 33px;
    max-width: unset;
  }
  .directions-detail__title span {
    display: inline;
  }
  .directions-detail__banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    min-height: 256px;
    padding: 28px 25px;
    background-position: bottom -5px right -80px;
    background-size: 432px 260px;
  }
  .directions-detail__icon {
    width: 183px;
    height: 31px;
  }
  .directions-detail__text-left p:not(:last-child) {
    margin-bottom: 40px;
  }
  .directions-detail__text-right {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .directions-detail .back-page {
    display: block;
  }
  .directions-detail__title {
    font-size: 40px;
    line-height: 46px;
    margin-top: 40px;
    margin-bottom: 29px;
  }
  .directions-detail__banner {
    min-height: 404px;
    padding: 45px 48px;
    background-position: bottom -40px right 0px;
    background-size: 769px 468px;
    margin-bottom: 73px;
  }
  .directions-detail__icon {
    width: 268px;
    height: 45px;
  }
  .directions-detail__text {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .directions-detail__text-left {
    max-width: 641px;
  }
  .directions-detail__text-right {
    padding: 40px 51px 40px 40px;
    max-width: 528px;
    margin-bottom: 17px;
  }
  .directions-detail__text-right span {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  .directions-detail__text-right p {
    font-size: 18px;
    line-height: 150%;
  }
}
/*# sourceMappingURL=good.css.map */



@media screen and (min-width: 768px) {
  .directions-detail--2 {
    padding-bottom: 123px;
  }
}

.directions-detail--2 .directions-detail__title {
  font-weight: 400;
}

.directions-detail--2 .directions-detail__banner {
  background-color: #FC651A;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.directions-detail--2 .directions-detail__banner .bg {
  position: absolute;
  right: -8px;
  bottom: -36px;
  width: 100%;
  max-width: 100%;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .directions-detail--2 .directions-detail__banner .bg {
    max-width: 60%;
  }
}
@media screen and (min-width: 998px) {
  .directions-detail--2 .directions-detail__banner .bg {
    max-width: 704px;
  }
}

@media screen and (min-width: 1200px) {
  .directions-detail--2 .directions-detail__banner {
    margin-bottom: 81px;
  }
}

.row {
  --bs-gutter-x: 24px;
  --bs-gutter-y: 24px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x)*-.5);
  margin-right: calc(var(--bs-gutter-x)*-.5);
  margin-top: calc(var(--bs-gutter-y)*-1);
}
.row > * {
  flex-shrink: 0;
  margin-top: var(--bs-gutter-y);
  max-width: 100%;
  padding-left: calc(var(--bs-gutter-x)*.5);
  padding-right: calc(var(--bs-gutter-x)*.5);
  width: 100%;
}
.col {
  flex: 1 0 0%;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.directions-detail__row {
  --bs-gutter-x: 35px;
  --bs-gutter-y: 25px;

  margin-bottom: 39px;
}

.directions-detail__paragraph {
  font-size: 18px;
  color: var(--black-color);
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 39px;
  max-width: 641px;
}

.directions-detail__wrapper {
  max-width: 748px;
}

.directions-detail__img-wrap-col {

}

.directions-detail__img-wrap {
  width: 100%;
}

.directions-detail__img-wrap img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: none;
  display: block;
  border-radius: 32px;
}

.directions-detail__link-to-socials {
  transition: all .36s ease-in;
  border-radius: 18px;
  background-color: #F6F6F6;
  padding: 18px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 400;
  color: var(--black-color);
  margin-bottom: 17px;
  max-width: 527px;
}

.directions-detail__link-to-socials:hover {
  color: #FC651A;
}

.directions-detail__link-to-socials span {
  font-size: 20px;
  display: block;
  max-width: max-content;
  color: var( --primary-color);
}
.directions-detail__icon-wrap {
  flex: 0 0 auto;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.directions-detail__icon-wrap img {
  width: 100%;
  max-width: 60px;
}

.directions-detail__link {
  transition: all .36s ease-in;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var( --primary-color);
  border-radius: 18px;
  padding: 18px;
  font-weight: 400;
  max-width: 527px;
}

.directions-detail__link:hover {
  background-color: #FC651A;
}

.directions-detail__link p {
  margin-right: auto;
  color: #fff;
  font-size: 17px;
}

.directions-detail__arrow-wrap {
  flex: 0 0 auto;
  border-radius: 50%;
  border: 1px solid #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.directions-detail__arrow-wrap img {
  width: 100%;
  max-width: 18px;
}

.directions-detail__img-wrap-col {
  flex: 1 0 50%;
}

@media screen and (min-width: 576px) {
  .directions-detail__img-wrap-col {
    flex: 1 0 0%;
  }
  .directions-detail__img-wrap {
    max-width: 169px;
  }
}
@media screen and (min-width: 768px) {
  .directions-detail__link-to-socials {
    padding: 29px 34px;
    border-radius: 32px;
    font-size: 25px;
  }
  .directions-detail__link {
    padding: 23px 26px;
    border-radius: 32px;
  }
  .directions-detail__icon-wrap {
    width: 81px;
    height: 81px;
    margin-right: 33px;
  }
  .directions-detail__arrow-wrap {
    width: 81px;
    height: 81px;
  }
  .directions-detail__arrow-wrap img {
    max-width: 36px;
  }
  .directions-detail__link p {
    font-size: 25px;
  }
}

@media screen and (min-width: 998px) {
  .directions-detail__link-to-socials {
    flex-wrap: nowrap;
  }
  .directions-detail__link {
    flex-wrap: nowrap;
  }
}

.directions-detail__articles-row {
  --bs-gutter-x: 44px;
  --bs-gutter-y: 22px;

  margin-bottom: 79px;
}

.directions-detail__article {
  display: block;
  border-radius: 18px;
  border: 3px solid var( --primary-color);
  padding: 33px 33px;
  height: 100%;
}

.directions-detail__article h4 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 18px;
  color: var(--primary-color);
}

.directions-detail__article p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--black-color);
  margin-bottom: 30px;
}

.directions-detail__article .row {
  --bs-gutter-x: 26px;

  align-items: center;
}

.directions-detail__btn {
  color: var( --primary-color);
  line-height: 1.23;
  padding: 9px 24px;
  border-radius: 20px;
  background-color: rgba(140, 100, 216, 0.10);
}

.directions-detail__vk {
  width: 100%;
  max-width: 29px;
}

.directions-detail__articles__col {
  flex: 0 0 auto;
  width: 100%;
}

@media screen and (min-width: 768px) { 
  .directions-detail__articles__col {
    flex: 1 0 0%;
  }
  .directions-detail__article {
    padding: 66px 33px;
  }
  .directions-detail__article p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .directions-detail__btn {
    font-size: 18px;
  }
}