doctype html
html.page(lang='ru')
	head
		meta(charset='utf-8')
		title Направления
		meta(name='description' content='Нижегородская ярмарка')
		meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
		link(rel='icon' href='assets/img/favicon.png')
		meta(property='og:image' content='images/distpromo_img')
		link(rel='stylesheet' type='text/css' href='assets/plugins/swiper/swiper-bundle.min.css')
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css")
		link(rel='stylesheet' href='css/global.css')
		link(rel='stylesheet' href='css/accordion.css')
		link(rel='stylesheet' href='css/anti-corruption.css')
		link(rel='stylesheet' href='css/centers-page.css')
		
		link(rel='stylesheet' href='css/activities.css')
	body.page__body
		.site-container
			header.header
				.container
					.header__wrapper
						a.logo.logo-main.header__logo(href='index.html')
							svg
								use(href='assets/svg/sprite-version2.svg#logo')
						nav.nav.nav-main
							.nav__burger
								button.burger(aria-label='Открыть меню' aria-expanded='false')
									span.burger__line
							.header-mobile
								.header-mobile-menu-inner
									.header-mobile-item
										.header-mobile-headline
											p.header-mobile-title Агентство
											svg.icon(class='сhevron-up')
												use(href='./assets/svg/sprite-version2.svg#сhevron-up')
										ul.header-mobile-list
											li.header-mobile-point
												a(href='javascript:void(0);') Об агенстве
											li.header-mobile-point
												a(href='javascript:void(0);') Структура
											li.header-mobile-point
												a(href='javascript:void(0);') Общественный совет
											li.header-mobile-point
												a(href='javascript:void(0);') Противодействие коррупции
											li.header-mobile-point
												a(href='javascript:void(0);') Противодействие терроризму
											li.header-mobile-point
												a(href='javascript:void(0);') Государственная гражданская служба
											li.header-mobile-point
												a(href='javascript:void(0);') Открытое агенство
									.header-mobile-item
										.header-mobile-headline
											p.header-mobile-title Деятельность
											svg.icon(class='сhevron-up')
												use(href='./assets/svg/sprite-version2.svg#сhevron-up')
										ul.header-mobile-list
											li.header-mobile-point
												a(href='javascript:void(0);') Об агенстве
											li.header-mobile-point
												a(href='javascript:void(0);') Структура
											li.header-mobile-point
												a(href='javascript:void(0);') Общественный совет
											li.header-mobile-point
												a(href='javascript:void(0);') Противодействие коррупции
											li.header-mobile-point
												a(href='javascript:void(0);') Противодействие терроризму
											li.header-mobile-point
												a(href='javascript:void(0);') Государственная гражданская служба
											li.header-mobile-point
												a(href='javascript:void(0);') Открытое агенство
									.header-mobile-item
										.header-mobile-headline
											p.header-mobile-title Пресс-служба
											svg.icon(class='сhevron-up')
												use(href='./assets/svg/sprite-version2.svg#сhevron-up')
										ul.header-mobile-list
											li.header-mobile-point
												a(href='javascript:void(0);') Об агенстве
											li.header-mobile-point
												a(href='javascript:void(0);') Структура
											li.header-mobile-point
												a(href='javascript:void(0);') Общественный совет
											li.header-mobile-point
												a(href='javascript:void(0);') Противодействие коррупции
											li.header-mobile-point
												a(href='javascript:void(0);') Противодействие терроризму
											li.header-mobile-point
												a(href='javascript:void(0);') Государственная гражданская служба
											li.header-mobile-point
												a(href='javascript:void(0);') Открытое агенство
									.header-mobile-item
										.header-mobile-headline
											p.header-mobile-title Документы
											svg.icon(class='сhevron-up')
												use(href='./assets/svg/sprite-version2.svg#сhevron-up')
										ul.header-mobile-list
											li.header-mobile-point
												a(href='javascript:void(0);') Об агенстве
											li.header-mobile-point
												a(href='javascript:void(0);') Структура
											li.header-mobile-point
												a(href='javascript:void(0);') Общественный совет
											li.header-mobile-point
												a(href='javascript:void(0);') Противодействие коррупции
											li.header-mobile-point
												a(href='javascript:void(0);') Противодействие терроризму
											li.header-mobile-point
												a(href='javascript:void(0);') Государственная гражданская служба
											li.header-mobile-point
												a(href='javascript:void(0);') Открытое агенство
									.header-mobile-item
										.header-mobile-headline
											p.header-mobile-title Обратная связь
											svg.icon(class='сhevron-up')
												use(href='./assets/svg/sprite-version2.svg#сhevron-up')
										ul.header-mobile-list
											li.header-mobile-point
												a(href='javascript:void(0);') Об агенстве
											li.header-mobile-point
												a(href='javascript:void(0);') Структура
											li.header-mobile-point
												a(href='javascript:void(0);') Общественный совет
											li.header-mobile-point
												a(href='javascript:void(0);') Противодействие коррупции
											li.header-mobile-point
												a(href='javascript:void(0);') Противодействие терроризму
											li.header-mobile-point
												a(href='javascript:void(0);') Государственная гражданская служба
											li.header-mobile-point
												a(href='javascript:void(0);') Открытое агенство
							ul.nav__list.list-reset
								li.nav__item
									a.nav__link(href='#')
										| Агентство
									.nav__submenu
										ul.drop-down.list-reset
											li.drop-down__item
												a.drop-down__link(href='about-agency.html') Об агенстве
											li.drop-down__item
												a.drop-down__link(href='structure.html') Струтктура
											li.drop-down__item
												a.drop-down__link(href='public-council.html') Общественный совет
											li.drop-down__item
												a.drop-down__link(href='anti-corruption.html') Противодействие коррупции
											li.drop-down__item
												a.drop-down__link(href='#') Противодействие терроризму
											li.drop-down__item
												a.drop-down__link(href='civil-service.html') Государственная гражданская служба
											li.drop-down__item
												a.drop-down__link(href='open-agency.html') Открытое агентство
											li.drop-down__item
												a.drop-down__link(href='#') Проекты
											li.drop-down__item
												a.drop-down__link(href='#') Деятельность
								li.nav__item
									a.nav__link(href='#')
										| Деятельность
									.nav__submenu
										ul.drop-down.list-reset
											li.drop-down__item
												a.drop-down__link(href='directions.html') Тематические треки
											li.drop-down__item
												a.drop-down__link(href='directions-events.html') Росмолодежь.События
											li.drop-down__item
												a.drop-down__link(href='grants.html') Росмолодежь.Гранты
											li.drop-down__item
												a.drop-down__link(href='#') Статистика
								li.nav__item
									a.nav__link(href='#')
										| Пресс-служба
									.nav__submenu
										ul.drop-down.list-reset
											li.drop-down__item
												a.drop-down__link(href='news-catalog') Новости
											li.drop-down__item
												a.drop-down__link(href='press-kit.html') Пресс-кит
											li.drop-down__item
												a.drop-down__link(href='contacts.html') Контакты
								li.nav__item
									a.nav__link(href='#')
										| Документы
								li.nav__item
									a.nav__link(href='#')
										| Обратная связь
						ul.settings.list-reset
							li.settings__item
								a.eng-ver(href='javascript:void(0);')
									svg.icon.main.icon-eng-v
										use(href='assets/svg/sprite-version2.svg#eng-v')
							li.settings__item
								a(href='javascript:void(0);')
									svg.icon.main.icon-read
										use(href='assets/svg/sprite-version2.svg#read')
							li.settings__item
								a(href='javascript:void(0);')
									svg.icon.main.icon-search
										use(href='assets/svg/sprite-version2.svg#search')
							li.settings__item
								a(href='javascript:void(0);')
									svg.icon.main.icon-lk
										use(href='assets/svg/sprite-version2.svg#lk')
							li.settings__item
								a(href='javascript:void(0);')
									svg.icon.main.icon-settings
										use(href='assets/svg/sprite-version2.svg#settings')
				ul.socials.socials-main.list-reset
					li.socials__item
						a.socials__link(href='#')
							svg
								use(xlink:href='./assets/svg/sprite-version2.svg#tg')
					li.socials__item
						a.socials__link(href='#')
							svg
								use(xlink:href='./assets/svg/sprite-version2.svg#vk')
					li.socials__item
						a.socials__link(href='#')
							svg
								use(xlink:href='./assets/svg/sprite-version2.svg#ok')
					li.socials__item
						a.socials__link(href='#')
							svg
								use(xlink:href='./assets/svg/sprite-version2.svg#star')
					li.socials__item
						a.socials__link(href='#')
							svg
								use(xlink:href='./assets/svg/sprite-version2.svg#r')
					li.socials__item
						a.socials__link(href='#')
							svg
								use(xlink:href='./assets/svg/sprite-version2.svg#tik-tok')
			main.main
				section.section.capital
					.container
						.main-title
							h2 Молодёжная <br>
								| столица <br>
								|#[span России]
							.main-title__text-wrap
								p Конкурс по определению Молодёжной столицы России реализуется Росмолодёжью с 2022 года. Статус «Молодёжная столица России» присваивается городам сроком на 1 год по итогам конкурсного отбора из трёх этапов: заочная экспертная оценка, инспекционные выезды и народное голосование.
								p Молодёжная столица России — не просто почётный статус, город получает право на проведение мероприятий федерального масштаба, дополнительный грантовый конкурс для молодёжи региона и другие бонусы. В конечном счёте, конкурс направлен на опережающее развитие сферы молодёжной политики на региональном уровне, повышение туристического и внутреннего миграционного потенциала для молодых россиян, развитие и тиражирование успешных региональных практик. Первой молодёжной столицей России на 2023 год был выбран город Нижний Новгород.
						.img-wrapper
							a.img-wrap(data-fancybox="gallery", href='assets/img/activities/act-1.png'): img(src='assets/img/activities/act-1.png' alt='')
							a.img-wrap(data-fancybox="gallery", href='assets/img/activities/act-2.png'): img(src='assets/img/activities/act-2.png' alt='')
							a.img-wrap(data-fancybox="gallery", href='assets/img/activities/act-3.png'): img(src='assets/img/activities/act-3.png' alt='')
							a.img-wrap(data-fancybox="gallery", href='assets/img/activities/act-4.png'): img(src='assets/img/activities/act-4.png' alt='')
							svg.icon-zig
								use(href='./assets/svg/sprite-version2.svg#zigzag')
				section.section.descr
					.container
						.descr-wrap
							.descr__text В 2024 году по итогам всех этапов оценки и голосования Оргкомитетом конкурса в порядке исключения было принято решение о присвоении статуса сразу двум городам. Молодёжными столицами России 2024 стали 
								a(href='#') #[span МОСКВА ]
								| и 
								a(href='#') #[span ВЛАДИВОСТОК].
								| <br>В конкурсном отборе участвовало 18 городов
							.descr__sub-text Узнать о мероприятиях, проектах, пространствах в Молодёжных столицах России – 2024 можно на сайтах городов
						.descr__cards-wrap
							mixin cardCity(img, title)
								a.card-city(href='#')
									img(src=`assets/img/activities/city-${img}.png` alt='')
									.card-city__wrap
										.card-city__title!= title
										button.card-city__btn.btn.btn--secondary Перейти
							+cardCity(1, 'Москва')
							+cardCity(2, 'Владивосток')
				section.section.news
					.container
						h2 Новости Молодёжных столиц России
						.news__cards-wrap
							mixin newsCards(img, text)
								a.news-card(href='#')
									.news-card__img-wrap
										img(src=`assets/img/activities/news-${img}.png` alt='')
									.news-card__icon-wrap
										svg.icon
											use(href='./assets/svg/sprite-version2.svg#city')
									.news-card__text-wrap
										.news-card__date 18 июля 2022
											span 17:19
										.news-card__text!= text
							+newsCards(1, 'Участники «Территории смыслов» узнали, как вывести российские НКО на международную арену')
							+newsCards(2, 'Участники «Территории смыслов» узнали, как вывести российские НКО на международную арену')
							+newsCards(3, 'Участники «Территории смыслов» узнали, как вывести российские НК«Люди — главная ценность нашей страны»:	главная ценность нашей страны»:')
							+newsCards(4, '37 регионов России распишут свои именные домики на «Тавриде» в Крыму')
						button.btn.btn-reset.btn--border Все новости
				section.questions.section
					.container
						h2.visually-hidden Вопросы?
						.questions__item
							.questions__left
								h2.title.questions__title(data-title='Есть вопросы?') Есть вопросы?
								span.questions__descr
									| Ты можешь задать их нашим
									| специалистам через форму
									| обратной связи
								button.btn.btn-reset.btn--primary Задать вопрос
							.questions__right
								img(src='assets/img/index/questions.png' alt='')

			footer.footer
				.footer__bottom.container
					a.footer__copyright(href='#')
						| © 2008-2023 Федеральное агентство по делам молодежи
						| (Росмолодёжь)
					ul.footer__bottom-nav.list-reset
						li
							a(href='#') Правовая информация
		script(src='assets/plugins/accordion/accordion.js')
		script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
		script(src="js/activities.js")
		//- script(src='js/main.js')
